/* rolly��CSS Document */
/*ȫ����ʽ */
html{overflow:auto;margin:0;padding:0;border:0;}
p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{background:#f9f9f9;color:#555;font-size:12px;font-family:"Arial";margin:0px auto;}
img,a img{border:0;margin:0;padding:0;}
ul,ol,li{list-style:none;padding:0;margin:0;}
select,input,img{vertical-align:middle;font-family:"Arial";border:none;}
.blank10{height:10px;overflow:hidden;}
input{outline:none;}
textarea{resize:none;}
.foc_cur{cursor:pointer;}
.family_song{font-family:"����";}
input[type=submit],
input[type=reset],
input[type=button]{
filter:chroma(color=#000000);
}
input[type="file"]{background:#fff;}
.cbstyle{position:absolute;z-index:-10;}
.cbstyle2{position:absolute;z-index:-10;top:13px;left:6px;*top:12px;left:7px\0;}

/* ������ */
a{outline-style:none;color:#e27a55;text-decoration:none;cursor:pointer;}
a:hover{color:#df430b;text-decoration:underline;}
a.red01{color:#e27a55;text-decoration:underline;}
a.red01:hover{color:#f9b81e;text-decoration:underline;}
a.red02{color:#e27a55;text-decoration:none;}
a.red02:hover{color:#f9b81e;text-decoration:none;}
a.red03{color:#d15555;text-decoration:none;}
a.red03:hover{color:#f9b81e;text-decoration:none;}

/*��ȡ���㡆*/
a,area {blr:expression(this.onFocus=this.blur()) }  for IE 
:focus {-moz-outline-style: none; }  for Firefox  
*:focus{outline: none;} 

/* �»���*/
.unline,.unline a{text-decoration:underline}
.nounline,.nounline a,.list12 .nounline{text-decoration:none}

/*���Ҹ���*/
.left{float:left;}
.right{float:right;}
.txtright{text-align:right;}
.txtcenter{text-align:center;}
.txtleft{text-align:left;}
.center{margin:0px auto;display:block;}
.txthide{white-space:norwap;text-overflow:ellipsis;overflow:hidden;}

.clear{clear:both;font-size:1px;width:1px;visibility:hidden;margin-top:0px!important;*margin-top:-1px;line-height:0}/*ie and firefox1.5 updata */

/*��λ*/
.rel_pos{position:relative;}
.rel_pos.zindex100{position:relative;z-index:100;zoom:1;}
.abs_pos01{position:absolute;top:34px;left:228px;}
:root .abs_pos01{left:223px\9;}
.abs_pos02{position:absolute;top:38px;left:120px;}
.abs_pos03{position:absolute;top:34px;left:98px;}
.abs_pos04{position:absolute;top:38px;left:190px;}
.abs_pos05{position:absolute;top:34px;left:198px;}
:root .abs_pos05{left:195px\9;}
.abs_pos06{position:absolute;top:34px;left:508px;}
.abs_pos07{position:absolute;top:34px;left:90px;}
.abs_pos08{position:absolute;top:34px;left:398px;}
.abs_pos09{position:absolute;top: 37px;left: 238px;}	
.abs_pos10{position:absolute;top:-128px;left:128px;}
.abs_pos11{position:absolute;top:34px;left:160px;}
.abs_pos12{position:absolute;top:34px;left:310px;}
.abs_pos13{position:absolute;top:34px;left:728px;}
.abs_pos14{position:absolute;top: 34px;left: 238px;}
.abs_pos15{position:absolute;top: 34px;left:608px;}
.abs_pos16{position:absolute;top: 30px;left: 238px;}
.abs_pos17{position:absolute;top: 34px;left:138px;}
.abs_pos18{position:absolute;top: 34px;left:848px;}
.abs_pos19{position:absolute;top: 34px;left:868px;}
.abs_pos20{position:absolute;top: 34px;left:908px;}
.abs_pos21{position:absolute;top: 55px;left:109px;}
.abs_pos22{position:absolute;top: 34px;left:855px;}
.abs_pos23{position:absolute;top: 34px;left:468px;}
.abs_pos24{position:absolute;top: 34px;left: 238px;}
.abs_pos25{position:absolute;top: 34px;left: 338px;}
.abs_pos26{position:absolute;top: 34px;left: 658px;}
.abs_pos27{position:absolute;top: 34px;left: 978px;}
.abs_pos28{position:absolute;top: 34px;left: 848px;}
.abs_pos29{position:absolute;top: 34px;left: 208px;}
.abs_pos30{position:absolute;top: 34px;left: 528px;}
.abs_pos31{position:absolute;top: 34px;left: 273px;}
.abs_pos32{position:absolute;top: 34px;left: 593px;}
.abs_pos33{position:absolute;top: 34px;left: 913px;}

/* CSS�հ� */
.blank1{float:left;width:100%;height:1px;font-size:1px;clear:both;}
.blank10{float:left;width:100%;height:10px;font-size:1px;clear:both;}
.blank15{float:left;width:100%;height:15px;font-size:1px;clear:both;}
.blank38{float:left;width:100%;height:38px;font-size:1px;clear:both;}
.blank30{float:left;width:100%;height:30px;font-size:1px;clear:both;}
.blank98{float:left;width:100%;height:98px;font-size:1px;clear:both;}
.blank20{float:left;width:100%;height:20px;font-size:1px;clear:both;}

/* ������ʽ */
.bord01{background:url(../../images/bg_line.jpg) no-repeat;}
.bord02{border-bottom:1px solid #f2c1c2;}
.bord03{border-right:1px solid #e4e4e4;}
.bord04{border-left:1px solid #f1efea;}
.bord05{border-bottom:1px solid #e4e4e4;}
.bord06{float:left;width:1px;height:36px;border-right:1px solid #dcddd6;overflow:hidden;}
.bord_shadow{border-bottom:1px solid #eaeaea;-moz-box-shadow:0px 5px 5px #e9e8e8;-webkit-box-shadow:0px 5px 5px #e9e8e8;-o-box-shadow:0px 5px 5px #e9e8e8;box-shadow:0px 5px 5px #e9e8e8;behavior:url(../../../css/pie.htc);}
.bord07{float:left;width:1px;height:55px;border-right:1px dotted #c5c7cb;overflow:hidden;}
.bord08{float:left;width:1px;height:12px;border-right:1px solid #fff;overflow:hidden;}
.bord_shadow_right{border-right:1px solid #eaeaea;-moz-box-shadow:3px 0px 5px #e6e6e6;-webkit-box-shadow:3px 0px 5px #e6e6e6;-o-box-shadow:3px 0px 5px #e6e6e6;box-shadow:3px 0px 5px #e6e6e6;behavior:url(../../../css/pie.htc);}
.bord_shadow_left{border-left:1px solid #eaeaea;-moz-box-shadow:-3px 0px 5px #e6e6e6;-webkit-box-shadow:-3px 0px 5px #e6e6e6;-o-box-shadow:-3px 0px 5px #e6e6e6;box-shadow:-3px 0px 5px #e6e6e6;behavior:url(../../../css/pie.htc);}
.bord_shadow_bottom01{border:1px solid #efeded;-moz-box-shadow:2px 2px 8px #e4e5e7;-webkit-box-shadow:2px 2px 8px #e4e5e7;-o-box-shadow:2px 2px 8px #e4e5e7;box-shadow:2px 2px 8px #e4e5e7;behavior:url(../../../css/pie.htc);}
.bord09{float:left;width:1px;height:18px;border-right:1px solid #ddd;overflow:hidden;}
.bord10{float:left;width:1px;height:12px;border-right:1px solid #cecece;margin-top:14px;margin-left:10px;margin-right:10px;overflow:hidden;}
.bord11{float:left;width:100%;height:1px;border-bottom:1px dotted #d2cbc6;overflow:hidden;}
.bord12{border:2px dashed #ffb2b2;}
.bord13{border-top:1px solid #fff;}
.bord_shadow_top01{border-top:1px solid #c04e4e;-moz-box-shadow:0px -2px 0px #c24f4f;-webkit-box-shadow:0px -2px 0px #c24f4f;-o-box-shadow:0px -2px 0px #c24f4f;box-shadow:0px -2px 0px #c24f4f;behavior:url(../../../css/pie.htc);}
.bord14{border-bottom:1px dotted #e4e4e4;}
.bord_shadow_all_dir{background:#fff;border:1px solid #efeded;-moz-box-shadow:0px 0px 8px #ececec;-webkit-box-shadow:0px 0px 8px #ececec;-o-box-shadow:0px 0px 8px #ececec;box-shadow:0px 0px 8px #ececec;behavior:url(../../../css/pie.htc);}
.bord15{border:2px dashed #c3c2c0;}
.bord16{border:1px solid #e6e6e6;}
.bord17_shadow{border-bottom:1px solid #e4e4e4;-moz-box-shadow:0px 1px 1px #f1f1f1;-webkit-box-shadow:0px 1px 1px #f1f1f1;-o-box-shadow:0px 1px 1px #f1f1f1;box-shadow:0px 1px 1px #f1f1f1;behavior:url(../../../css/pie.htc);}
.bord18{border-top:1px dotted #e4e4e4;}
.bord19{border-bottom: 1px solid #d2d0cf;}
.bord23{border-right:1px dotted #ccc;}

/*padding*/
.paddb10{padding-bottom:10px;}
.paddt10{padding-top:10px;}
.paddt50{padding-top:50px;}
.paddl52{padding-left:52px;}
.paddl100{padding-left:100px;}
.paddl30{padding-left:30px;}
.paddl34{padding-left:34px;}
.paddl31{padding-left:30px;_padding-left:15px;}
.paddl20{padding-left:20px;}
.paddl122{padding-left:122px;}
.paddl10{padding-left:10px;}
.paddt20{padding-top:20px;}
.paddt30{padding-top:30px;}
.paddr10{padding-right:10px;}
.paddl110{padding-left:110px;_padding-left:96px;}
.paddtrl184{padding-top:18px;*padding-top:4px;padding-left:4px;padding-right:4px;_padding-left:0px;}
.padd13{padding:13px 17px;}
.padd15{padding:15px 19px;}
.paddl90{padding-left:90px;}
.paddl50{padding-left:50px;}
.paddl60{padding-left:60px;}
.paddl160{padding-left:160px;}
.paddl67{padding-left:67px;}
.paddr30{padding-right:30px;}
.paddtb20{padding-top:20px;padding-bottom:20px;}
.paddl170{padding-left:170px;}
.paddb20{padding-bottom:20px;}
.paddr8{padding-right:8px;}
.paddl8{padding-left:8px;}
.paddt15{padding-top:15px;}
.paddt100{padding-top:100px;}
/*fontsize*/
.fs14{font-size:14px;}
.fs18{font-size:18px;}
.fs12{font-size:12px;}
.fs16{font-size:16px;}
.fs20{font-size:20px;font-family:"����";}

/*margin*/
.marglr3020{margin-left:30px;margin-right:20px;_margin-left:15px;}
.margl210{margin-left:210px;}
.margl230{margin-left:230px;}
.margr8{margin-right:8px;}
.margt10{margin-top:10px;}
.margl10{margin-left:10px;}
.margl6{margin-left:6px;}
.margt30{margin-top:30px;}
.margt7{margin-top:7px;}
.margr60{margin-right:60px;}
.margl30{margin-left:30px;}
.margr30{margin-right:30px;}
.margl10_tips01{margin-left:10px;_margin-left:5px;}
.margl16{margin-left:16px;_margin-left:8px;}
.margtb20{margin-top:20px;margin-bottom:20px;}
.margt15{margin-top:15px;}
.margt12{margin-top:12px;margin-top:9px\0;*margin-top:6px;}
.margt11{margin-top:11px;}
.margl60{margin-left:60px;}
.margt4{margin-top:4px;}
.margb10{margin-bottom:10px;}
.margtlr816{margin-top:8px;margin-left:16px;margin-right:6px;_margin-left:8px;}
.margl40{margin-left:40px;_margin-left:20px;}
.margl50{margin-left:50px;}
.margl100{margin-left:100px;}
.margr20{margin-right:20px;}
.margt5{margin-top:5px;}
.margl32{margin-left:32px;}
.marglr2020{margin-left:20px;margin-right:20px;}
.margtr1516{margin-top:15px;margin-right:16px;_margin-right:8px;}
.marglr2010{margin-left:20px;margin-right:10px;_margin-left:10px;}
.margl62{margin-left:62px;_margin-left:31px;}
.margl176{margin-left:176px;_margin-left:8px;}
.margtlr516{margin-top:5px;margin-left:16px;margin-right:6px;_margin-left:8px;}
.margt20{margin-top:20px;}
.margr15{margin-right:16px;_margin-right:8px;}
.margt60{margin-top:60px;}
.margl40all{margin-right:40px;_margin-right:30px;}
.margtr36{margin-top:3px;margin-right:6px;_margin-right:3px;}
.margtrl184{margin-top:18px;*margin-top:-20px;margin-left:4px;margin-right:4px;}
.margt13{margin-top:13px;}
.margt8{margin-top:8px;}
.margtrl184_norm{margin-top:18px;*margin-top:2px;margin-left:4px;margin-right:4px;}
.margr30_tips01{margin-right:30px;_margin-right:15px;}
.margtlr616{margin-top:6px;margin-left:20px;margin-right:6px;_margin-left:0px;_margin-right:0px;}
.margr10{margin-right:10px;}
.margr40{margin-right:40px;}
.margr200{margin-right:200px;}
.margr66{margin-right:66px;}
.margtr20{margin-top:20px;margin-right:20px;}
.margr120{margin-right:120px;}
.margt110{margin-top:110px;}
.margt3{margin-top:3px;}
.margt1{margin-top:1px;}
.margt150{margin-top:150px;}
.marglr1010{margin-left:10px;margin-right:10px;}
.marg5_02{margin-top:2px;*margin-top:5px;}
.margr4{margin-right:4px;}
.margta13{margin-top:10px;margin-top:13px\0;*margin-top:13px;}
.margl200{margin-left:200px;}
.margr180{margin-right:180px;}
.margl20{margin-left:20px;}
.margl35{margin-left:35px;}

/*color*/
.grey{color:#bdbdbd;}
.red01{color:#ed6365;}
.orange{color:#ffa800;background:#fff;}
.grey02{color:#828282;background:#fff;}

/*text-indent*/
.txtindent40{text-indent:40px;}
.txtindent50{text-indent:50px;}

/*top&left*/

/*maxwidth*/
.max_wid490{}

/*width*/
.wid200{width: 200px;}
.wid160{width: 160px;}
.wid210{width: 210px;}
.wid215{width: 215px;}
.wid220{width: 220px;}
.wid225{width: 225px;}	
.wid250{width: 250px;}
.wid224{width:224px;}
.wid343{width:343px;}
.wid333{width:333px;}
.wid289{width:288px;}
.wid130{width:130px;}
.wid276{width:276px;*width:274px;width:274px\9;}
.wid444{width:444px;}
.wid650{width:650px;}
.wid789{width:789px;}
.wid190{width:190px;}
.wid451{width:451px;}
.wid576{width:576px;}
.wid136{width:136px;_width:133px;}
.wid100{width:100px;}
.widht100{width:100px;height: 100px;}
.wid310{width:310px;}
.wid170{width:170px;}
.wid60{width:60px;}
.wid80{width:80px;}
.wid430{width:430px;}
.wid685{width:685px;}
.wid680{width:680px;}
.wid110{width:110px;}
.wid980{width:980px;}
.wid915{width:915px;}
.wid407{width:407px;}
.wid632{width:632px;}
.wid498{width:498px;}
.wid630{width:630px;}
.wid40{width:40px;}
.wid230{width:230px;}
.wid940{width:940px;}
.wid417{width:417px;}
.wid10{width:10px;}
.wid120{width:120px;}
.wid154{width:154px;_width:157px;}
.wid205{width:205px;}
.wid95{width:95px;}
.wid400{width:400px;}
.wid500{width:500px;}
.wid620{width:620px;}
.wid1100{width:1100px;}
.wid1125{width:1125px;}
.wid93{width:93px;}
.wid280{width:280px;}
.wid968{width:968px;}
.wid910{width:910px;}
.wid75{width:75px;}
.wid700{width:700px;}
.wid800{width:800px;}
.wid610{width:610px;}
.wid578{width:578px;}
.wid543{width:543px;}
.wid540{width:540px;}
.wid300{width:300px;}
.wid360{width:360px;}
.wid30{width:30px;}
.widper100{width:100%;}
.wid1123{width:1123px;}
.wid510{width:510px;}
.wid980_2{width:980px;padding-left:100px;}
.wid146{width:146px;}
.wid147{width:147px;}
.wid989{width:989px;}
.wid260{width:260px;}
.wid588_center{width:588px;margin: 0 auto;margin-top: 20px;}
.wid320{width:320px;}
.wid400{width:400px;}
.wid500{width:500px;}
.wid550{width:550px;}
.wid180{width:180px;}
.wid1200{width:1200px;}
/*img*/
.imgwh01{width:100px;height:100px;}

/*height*/
.heig600{height:600px;}
.heig100{height:100px;}
.heig80{height:80px;}
.heig550.overauto{height:550px;overflow:auto;}
.heig700{height:700px;}
.minheig220{min-height:220px;}
.heig745{height:745px;}
.heig693.overauto{height:693px;overflow:auto;}
.minheig450{min-height:450px;}

/*height*/
.heig46{height:46px;line-height:46px;}

/*shape*/
.square{float:left;width:3px;height:3px;background:#555;}

/*bg*/
.bg_grey01{background:#6a696c;color:#fff;}
.bg_red01{background:#ed6365;color:#fff;-moz-text-shadow:-1px -1px 0 #f6b1b2;-webkit-text-shadow:-1px -1px 0 #f6b1b2;-o-text-shadow:-1px -1px 0 #f6b1b2;text-shadow:-1px -1px 0 #f6b1b2;behavior:url(../../../css/pie.htc);}
.bg_grey02{background:#f9f9f9;}
.bg_red02{background:#d15555;}
.bg_grey03{background:#e9e7e7;}
.bg_grey04{background:#f6f4f0;}
.bg_grey05{background: none repeat scroll 0 0 #f0f0f0; color: #adadad;text-shadow: -1px -1px 0 #fbfbfb;}
.red{color:red}
/*circle_corner*/
.cir_cornerl{-moz-border-radius:8px 0px 0px 0px;-webkit-border-radius:8px 0px 0px 0px;-o-border-radius:8px 0px 0px 0px;border-radius:8px 0px 0px 0px;behavior:url(../../../css/pie.htc);}
.cir_cornerr{border-right:1px solid #e4e4e4;-moz-border-radius:0px 8px 0px 0px;-webkit-border-radius:0px 8px 0px 0px;-o-border-radius:0px 8px 0px 0px;border-radius:0px 8px 0px 0px;behavior:url(../../../css/pie.htc);}
.cir_cornerrb{-moz-border-radius:0px 5px 5px 0px;-webkit-border-radius:0px 5px 5px 0px;-o-border-radius:0px 5px 5px 0px;border-radius:0px 5px 5px 0px;behavior:url(../../../css/pie.htc);}
.cir_left_tb{-moz-border-radius:8px 0px 0px 8px;-webkit-border-radius:8px 0px 0px 8px;-o-border-radius:8px 0px 0px 8px;border-radius:8px 0px 0px 8px;behavior:url(../../../css/pie.htc);}
.cir_right_tb{-moz-border-radius:0px 8px 8px 0px;-webkit-border-radius:0px 8px 8px 0px;-o-border-radius:0px 8px 8px 0px;border-radius:0px 8px 8px 0px;behavior:url(../../../css/pie.htc);}
.cir_tbrl{-moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url(../../../css/pie.htc);}
#div_showImg{width:900px;}




