/* rolly的CSS Document */
/*nav*/
.nav{background:-moz-linear-gradient(#595553,#4f4b49);background:-webkit-linear-gradient(#595553,#4f4b49);background:-o-linear-gradient(#595553,#4f4b49);background:-ms-linear-gradient(#595553,#4f4b49);-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#595553, endColorstr=#4f4b49)";-pie-background:linear-gradient(#595553,#4f4b49);behavior:url(../../../css/pie.htc);}
.nav .nav_info{color:#fff;}
.nav_txt_style{color:#fff;background:none;}
.nav_txt_style:hover{color:#fff;background:#f96151;}
.nav_txt_style.active{color:#fff;background:#f96151;}

/*header*/
.header{background:-moz-linear-gradient(#f3f1f1,#ffffff);background:-webkit-linear-gradient(#f3f1f1,#ffffff);background:-o-linear-gradient(#f3f1f1,#ffffff);background:-ms-linear-gradient(#f3f1f1,#ffffff);-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f3f1f1, endColorstr=#ffffff)";-pie-background:linear-gradient(#f3f1f1,#ffffff);-moz-box-shadow:0px 2px 10px #e4e5e7;-webkit-box-shadow:0px 2px 10px #e4e5e7;-o-box-shadow:0px 2px 10px #e4e5e7;box-shadow:0px 2px 10px #e4e5e7;behavior:url(../../../css/pie.htc);}

/*header*/
.header_nav a{font-weight:normal;border-bottom:3px solid #fff;}
.header_nav a:hover{font-weight:bold;color:#555;border-bottom:3px solid #e71a22;}
.header_nav a.hnav_check{font-weight:bold;color:#555;border-bottom:3px solid #e71a22;}

/*header*/
.new_header{background:-moz-linear-gradient(#f85b4a,#df3c2a);background:-webkit-linear-gradient(#f85b4a,#df3c2a);background:-o-linear-gradient(#f85b4a,#df3c2a);background:-ms-linear-gradient(#f85b4a,#df3c2a);-pie-background:linear-gradient(#f85b4a,#df3c2a);-moz-box-shadow:0px 3px 4px #444;-webkit-box-shadow:0px 3px 4px #444;-o-box-shadow:0px 3px 4px #444;box-shadow:0px 3px 4px #444;behavior:url(../../../css/pie.htc);}

/*header*/
.new_header_nav a{font-weight:normal;border-left:1px solid #fff;border-right:1px solid #e3e3e3;background:-moz-linear-gradient(#ffffff,#e5e5e5);background:-webkit-linear-gradient(#ffffff,#e5e5e5);background:-o-linear-gradient(#ffffff,#e5e5e5);background:-ms-linear-gradient(#ffffff,#e5e5e5);-pie-background:linear-gradient(#ffffff,#e5e5e5);behavior:url(../../../css/pie.htc);}
.new_header_nav a:hover{font-weight:bold;color:#555;background:-moz-linear-gradient(#e5e5e5,#ffffff);background:-webkit-linear-gradient(#e5e5e5,#ffffff);background:-o-linear-gradient(#e5e5e5,#ffffff);background:-ms-linear-gradient(#e5e5e5,#ffffff);-pie-background:linear-gradient(#e5e5e5,#ffffff);behavior:url(../../../css/pie.htc);}
.new_header_nav a.hnav_check{font-weight:bold;color:#555;background:-moz-linear-gradient(#e5e5e5,#ffffff);background:-webkit-linear-gradient(#e5e5e5,#ffffff);background:-o-linear-gradient(#e5e5e5,#ffffff);background:-ms-linear-gradient(#e5e5e5,#ffffff);-pie-background:linear-gradient(#e5e5e5,#ffffff);behavior:url(../../../css/pie.htc);}
.new_header_nav a.nfirst{border-left:none;}
.new_header_nav li ul{-moz-box-shadow:0px 3px 6px #999;-webkit-box-shadow:0px 3px 6px #999;-o-box-shadow:0px 3px 6px #999;box-shadow:0px 3px 6px #999;behavior:url(../../../css/pie.htc);}
.new_header_nav li ul li a{border:none;border-top:1px solid #e5e5e5;background:#f3f3f3;color:#555;-pie-background:none;behavior:url(../../../css/pie.htc);}
.new_header_nav li ul li a:hover{font-weight:normal;background:#f45645;color:#fff;-pie-background:none;behavior:url(../../../css/pie.htc);}

/*main*/
.main{background:#f9f9f9;}

/*new_main*/
.new_main{background:#fff;}
.mainbg1{background:url(../../images/mainbg1.jpg) 0 0 repeat-x;}
.mainbg2{background:url(../../images/mainbg2.jpg) 0 0 repeat-x;}
.mainbg3{background:url(../../images/mainbg3.gif) 0 0 repeat-x;}

/*con*/
.con{background:#fff;border:1px solid #e5e5e5;-moz-border-radius:8px 8px 8px 8px;-webkit-border-radius:8px 8px 8px 8px;-o-border-radius:8px 8px 8px 8px;border-radius:8px 8px 8px 8px;-moz-box-shadow:0px 2px 10px #e4e5e7;-webkit-box-shadow:0px 2px 10px #e4e5e7;-o-box-shadow:0px 2px 10px #e4e5e7;box-shadow:0px 2px 10px #e4e5e7;behavior:url(../../../css/pie.htc);}
.con.sidebg2{background:#f7f7f7;}

/*con_article*/
.con_article{background:#fff;}
.con_aside{background:#f7f7f7;}

/*con_article_div*/
.chan_tips01{background:#fff;border:1px solid #efeded;-moz-box-shadow:2px 2px 8px #ececec;-webkit-box-shadow:2px 2px 8px #ececec;-o-box-shadow:2px 2px 8px #ececec;box-shadow:2px 2px 8px #ececec;behavior:url(../../../css/pie.htc);}
.chan_tips01 .chan_tips01_a{color:#555;}
.chan_tips01 .chan_tips01_a:hover{color:#ed6365;}

/*con_article_list*/
.con_article_list li a.cal_icon{-moz-border-radius:72px;-moz-border-radius:72px;-o-border-radius:72px;border-radius:72px;behavior:url(../../../css/pie.htc);}

/*con_aside_title*/
.con_aside_title{background:#f2f1f1;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}

/*con_title*/
.con_title{border-bottom:1px solid #e5e5e5;background:-moz-linear-gradient(top,#ffffff,#ffffff 80%,#f9f9f9);background:-webkit-linear-gradient(top,#ffffff,#ffffff 80%,#f9f9f9);background:-o-linear-gradient(top,#ffffff,#ffffff 80%,#f9f9f9);background:-ms-linear-gradient(top,#ffffff,#ffffff 80%,#f9f9f9);-pie-background:linear-gradient(top,#ffffff,#ffffff 80%,#f9f9f9);behavior:url(../../../css/pie.htc);}

/*con_step*/
.chan_step_div .chan_step_info .chan_step_layout{background:#f0f0f0;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;-moz-box-shadow:0px 2px 4px #e2e2e2 inset;-webkit-box-shadow:0px 2px 4px #e2e2e2 inset;-o-box-shadow:0px 2px 4px #e2e2e2 inset;box-shadow:0px 2px 4px #e2e2e2 inset;behavior:url(../../../css/pie.htc);}
.chan_step_div .chan_step_info .con_step{border-radius:35px;-moz-border-radius:35px;-webkit-border-radius:35px;-o-border-radius:35px;behavior:url(../../../css/pie.htc);}
.chan_step_div .chan_step_info .con_step:hover{color:#fff;background:#ed6365;-moz-text-shadow:-1px -1px 0 #f6b1b2;-webkit-text-shadow:-1px -1px 0 #f6b1b2;-o-text-shadow:-1px -1px 0 #f6b1b2;text-shadow:-1px -1px 0 #f6b1b2;behavior:url(../../../css/pie.htc);}
.con_step_line{background:#f0f0f0;-moz-box-shadow:0px 2px 4px #e2e2e2 inset;-webkit-box-shadow:0px 2px 4px #e2e2e2 inset;-o-box-shadow:0px 2px 4px #e2e2e2 inset;box-shadow:0px 2px 4px #e2e2e2 inset;behavior:url(../../../css/pie.htc);}
.chan_step_txt span{color:#bdbdbd;}
.chan_step_txt span.red01{color:#ed6365;font-weight:bold;}
.chan_step_txt span.heavygrey{color:#555;}

/*con_core*/
.con_core{background:#fff;border:1px solid #e5e5e5;-moz-border-radius:8px 8px 8px 8px;-webkit-border-radius:8px 8px 8px 8px;-o-border-radius:8px 8px 8px 8px;border-radius:8px 8px 8px 8px;-moz-box-shadow:4px 4px 10px #ebebeb;-webkit-box-shadow:4px 4px 10px #ebebeb;-o-box-shadow:4px 4px 10px #ebebeb;box-shadow:4px 4px 10px #ebebeb;behavior:url(../../../css/pie.htc);}

/*con_core_tab*/
.con_core_tab li a{color:#897751;background:#ded8cd;background:-moz-linear-gradient(#e8e3dc,#ded8cd);background:-webkit-linear-gradient(#e8e3dc,#ded8cd);background:-o-linear-gradient(#e8e3dc,#ded8cd);background:-ms-linear-gradient(#e8e3dc,#ded8cd);-pie-background:linear-gradient(#e8e3dc,#ded8cd);-moz-text-shadow:-1px -1px 0 #f8f6f4;-webkit-text-shadow:-1px -1px 0 #f8f6f4;-o-text-shadow:-1px -1px 0 #f8f6f4;text-shadow:-1px -1px 0 #f8f6f4;behavior:url(../../../css/pie.htc);}
.con_core_tab li a:hover{color:#ed6365;background:#f8f7f5;background:-moz-linear-gradient(#ffffff,#f7f6f4);background:-webkit-linear-gradient(#ffffff,#f7f6f4);background:-o-linear-gradient(#ffffff,#f7f6f4);background:-ms-linear-gradient(#ffffff,#f7f6f4);-pie-background:linear-gradient(#ffffff,#f7f6f4);-moz-text-shadow:0px 0px 0 #ed6365;-webkit-text-shadow:0px 0px 0 #ed6365;-o-text-shadow:0px 0px 0 #ed6365;text-shadow:0px 0px 0 #ed6365;behavior:url(../../../css/pie.htc);}
.con_core_tab li.check a{color:#ed6365;background:#f8f7f5;background:-moz-linear-gradient(#ffffff,#f7f6f4);background:-webkit-linear-gradient(#ffffff,#f7f6f4);background:-o-linear-gradient(#ffffff,#f7f6f4);background:-ms-linear-gradient(#ffffff,#f7f6f4);-pie-background:linear-gradient(#ffffff,#f7f6f4);-moz-text-shadow:0px 0px 0 #ed6365;-webkit-text-shadow:0px 0px 0 #ed6365;-o-text-shadow:0px 0px 0 #ed6365;text-shadow:0px 0px 0 #ed6365;behavior:url(../../../css/pie.htc);}

/*con_core_title*/
.con_core_title{border:1px solid #e5e5e5;background:#f9f9f9;-moz-border-radius:8px 8px 0px 0px;-webkit-border-radius:8px 8px 0px 0px;-o-border-radius:8px 8px 0px 0px;border-radius:8px 8px 0px 0px;-moz-box-shadow:0px 2px 6px #ededed;-webkit-box-shadow:0px 2px 6px #ededed;-o-box-shadow:0px 2px 6px #ededed;box-shadow:0px 2px 6px #ededed;behavior:url(../../../css/pie.htc);}

/*input_con_type*/
.input_con_type{border:1px solid #d5d6ce;-moz-box-shadow:2px 2px 3px #f0f0f0 inset;-webkit-box-shadow:2px 2px 3px #f0f0f0 inset;-o-box-shadow:2px 2px 3px #f0f0f0 inset;box-shadow:2px 2px 3px #f0f0f0 inset;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;behavior:url(../../../css/pie.htc);}
.input_con_type .icon_arrow_down{-moz-box-shadow:0px 2px 3px #f0f0f0 inset;-webkit-box-shadow:0px 2px 3px #f0f0f0 inset;-o-box-shadow:0px 2px 3px #f0f0f0 inset;box-shadow:0px 2px 3px #f0f0f0 inset;background:#fff url(../../images/icon.gif) -2px -402px no-repeat;}
.input_con_type .icon_arrow_down:hover{background:#f5f5f5 url(../../images/icon.gif) -2px -402px no-repeat;}
.input_con_type .input_validate_code{background:#efefef;}
.textarea_con_type{border:1px solid #d5d6ce;-moz-box-shadow:2px 2px 3px #f0f0f0 inset;-webkit-box-shadow:2px 2px 3px #f0f0f0 inset;-o-box-shadow:2px 2px 3px #f0f0f0 inset;box-shadow:2px 2px 3px #f0f0f0 inset;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;behavior:url(../../../css/pie.htc);}

/*icon*/
.nav_icon_home{background:url(../../images/icon.gif) 0 0 no-repeat;}
.nav_icon_home:hover{background:url(../../images/icon.gif) -30px 0px no-repeat;}
.nav_icon_help{background:url(../../images/icon.gif) 0px -30px no-repeat;}
.nav_icon_help:hover{background:url(../../images/icon.gif) -31px -30px no-repeat;}
.nav_icon_phone{background:url(../../images/icon.gif) 0px -60px no-repeat;}
.nav_icon_phone:hover{background:url(../../images/icon.gif) -30px -60px no-repeat;}
.icon_arrow_down{background:url(../../images/icon.gif) 0px -410px no-repeat;}
.icon_refresh{background:url(../../images/icon.gif) 0px -103px no-repeat;}
.icon_refresh:hover{background:url(../../images/icon.gif) -31px -103px no-repeat;}
.chan_input_checkbox{background:url(../../images/icon.gif) 0px -440px no-repeat;}
.chan_input_checkbox.hover{background:url(../../images/icon.gif) -36px -440px no-repeat;}
.chan_input_checkbox.chan_check{background:url(../../images/icon.gif) -74px -440px no-repeat;}
.coo_com_icon1{background:url(../../images/icon.gif) 0px -140px no-repeat;}
.coo_com_icon1:hover{background:url(../../images/icon.gif) -48px -140px no-repeat;}
.coo_com_icon2{background:url(../../images/icon.gif) 0px -184px no-repeat;}
.coo_com_icon2:hover{background:url(../../images/icon.gif) -47px -184px no-repeat;}
.icon_arrow_top{background:url(../../images/icon.gif) -70px -403px no-repeat;}
.icon_tips01{background:url(../../images/icon.gif) 0px -320px no-repeat;}
.icon_cal_zjkb{background:url(../../images/icon.gif) 0px -479px no-repeat;}
.icon_cal_zjkb:hover{background:url(../../images/icon.gif) -91px -479px no-repeat;}
.icon_cal_pos{background:url(../../images/icon.gif) 0px -553px no-repeat;}
.icon_cal_pos:hover{background:url(../../images/icon.gif) -91px -553px no-repeat;}
.icon_cal_zxzf{background:url(../../images/icon.gif) 0px -630px no-repeat;}
.icon_cal_zxzf:hover{background:url(../../images/icon.gif) -91px -630px no-repeat;}
.cat_icon_smrz{background:url(../../images/icon.gif) 0px -705px no-repeat;}
.cat_icon_smrz:hover{background:url(../../images/icon.gif) -80px -705px no-repeat;}
.cat_icon_sjbd{background:url(../../images/icon.gif) 0px -757px no-repeat;}
.cat_icon_sjbd:hover{background:url(../../images/icon.gif) -80px -757px no-repeat;}
.icon_edit{background:url(../../images/icon.gif) -68px -324px no-repeat;}
.icon_succ{background:url(../../images/icon.gif) 0px -229px no-repeat;}
.icon_fail{background:url(../../images/icon.gif) 0px -1820px no-repeat;}
.icon_btn_close{background:url(../../images/icon.gif) 0px -1613px no-repeat;}
.icon_btn_close:hover{background:url(../../images/icon.gif) -48px -1613px no-repeat;}
.btn_arrow_down{background:url(../../images/icon.gif) 0px -1558px no-repeat;}
.btn_arrow_down:hover{background:url(../../images/icon.gif) -50px -1558px no-repeat;}
.btn_arrow_up{background:url(../../images/icon.gif) 0px -1581px no-repeat;}
.btn_arrow_up:hover{background:url(../../images/icon.gif) -50px -1581px no-repeat;}
.icon_user_name{background:url(../../images/icon.gif) 0px -2647px no-repeat;}
.icon_ps{background:url(../../images/icon.gif) 0px -2688px no-repeat;}
.icon_home_01{background:url(../../images/icon.gif) -80px -2130px no-repeat;}
a.icon_home_01:hover{background:url(../../images/icon.gif) -326px -2130px no-repeat;}
.icon_home_02{background:url(../../images/icon.gif) -80px -2289px no-repeat;}
a.icon_home_02:hover{background:url(../../images/icon.gif) -326px -2289px no-repeat;}
.icon_home_03{background:url(../../images/icon.gif) -80px -2449px no-repeat;}
a.icon_home_03:hover{background:url(../../images/icon.gif) -326px -2449px no-repeat;}
.icon_home_04{background:url(../../images/icon.gif) -80px -2603px no-repeat;}
a.icon_home_04:hover{background:url(../../images/icon.gif) -326px -2603px no-repeat;}
.icon_mail{background:url(../../images/icon.gif) 0px -2728px no-repeat;}
.icon_btn_home{background:url(../../images/icon.gif) 0px -2784px no-repeat;}
.icon_solution_01{background:url(../../images/icon.gif) -80px -2848px no-repeat;}
.icon_solution_02{background:url(../../images/icon.gif) -326px -2848px no-repeat;}
.icon_solution_03{background:url(../../images/icon.gif) -80px -3009px no-repeat;}
.icon_solution_04{background:url(../../images/icon.gif) -326px -3009px no-repeat;}
.icon_solution_05{background:url(../../images/icon.gif) -80px -3162px no-repeat;}
.cat_icon_help{background:url(../../images/icon.gif) 0px -3338px no-repeat;}
.cat_icon_help:hover{background:url(../../images/icon.gif) -80px -3338px no-repeat;}
.cat_icon_message{background:url(../../images/icon.gif) 0px -3414px no-repeat;}
.cat_icon_message:hover{background:url(../../images/icon.gif) -80px -3414px no-repeat;}
.icon_flow{background:url(../../images/icon.gif) 0px -3510px no-repeat;}
.icon_help_static{background:url(../../images/icon.gif) 0px -3539px no-repeat;}
.icon_circle_dir{background:url(../../images/icon.gif) 0px -3666px no-repeat;}
.icon_services{background:url(../../images/icon.gif) 0px -3719px no-repeat;}
.coo_com_icon3{background:url(../../images/icon.gif) 0px -3780px no-repeat;}
.coo_com_icon3:hover{background:url(../../images/icon.gif) -48px -3780px no-repeat;}
.coo_com_icon4{background:url(../../images/icon.gif) 0px -3840px no-repeat;}
.coo_com_icon4:hover{background:url(../../images/icon.gif) -48px -3840px no-repeat;}
.coo_com_icon5{background:url(../../images/icon.gif) 0px -3900px no-repeat;}
.coo_com_icon5:hover{background:url(../../images/icon.gif) -48px -3900px no-repeat;}
.coo_com_icon6{background:url(../../images/icon.gif) 0px -3960px no-repeat;}
.coo_com_icon6:hover{background:url(../../images/icon.gif) -48px -3960px no-repeat;}
.coo_com_icon7{background:url(../../images/icon.gif) 0px -4020px no-repeat;}
.coo_com_icon7:hover{background:url(../../images/icon.gif) -48px -4020px no-repeat;}
.coo_com_icon8{background:url(../../images/icon.gif) 0px -4080px no-repeat;}
.coo_com_icon8:hover{background:url(../../images/icon.gif) -48px -4080px no-repeat;}

/*chan_btn*/
.chan_btn{color:#6e6e6e;border:1px solid #dddada;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;background:-moz-linear-gradient(#f7f4ed,#eee9de);background:-webkit-linear-gradient(#f7f4ed,#eee9de);background:-o-linear-gradient(#f7f4ed,#eee9de);background:-ms-linear-gradient(#f7f4ed,#eee9de);-pie-background:linear-gradient(#f7f4ed,#eee9de);-moz-text-shadow:-1px -1px 0 #fcfbf9;-webkit-text-shadow:-1px -1px 0 #fcfbf9;-o-text-shadow:-1px -1px 0 #fcfbf9;text-shadow:-1px -1px 0 #fcfbf9;behavior:url(../../../css/pie.htc);}
.chan_btn:hover{color:#6e6e6e;background:-moz-linear-gradient(#ffffff,#f5f5f5);background:-webkit-linear-gradient(#ffffff,#f5f5f5);background:-o-linear-gradient(#ffffff,#f5f5f5);background:-ms-linear-gradient(#ffffff,#f5f5f5);-pie-background:linear-gradient(#ffffff,#f5f5f5);behavior:url(../../../css/pie.htc);}
.chan_btn.chan_red01{color:#ffffff;border:1px solid #df5d5d;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;background:-moz-linear-gradient(#e76464,#ce5353);background:-webkit-linear-gradient(#e76464,#ce5353);background:-o-linear-gradient(#e76464,#ce5353);background:-ms-linear-gradient(#e76464,#ce5353);-pie-background:linear-gradient(#e76464,#ce5353);-moz-text-shadow:-1px -1px 0 #e76464;-webkit-text-shadow:-1px -1px 0 #e76464;-o-text-shadow:-1px -1px 0 #e76464;text-shadow:-1px -1px 0 #e76464;behavior:url(../../../css/pie.htc);}
.chan_btn.chan_red01:hover{color:#ffffff;background:-moz-linear-gradient(#ed7676,#cd6565);background:-webkit-linear-gradient(#ed7676,#cd6565);background:-o-linear-gradient(#ed7676,#cd6565);background:-ms-linear-gradient(#ed7676,#cd6565);-pie-background:linear-gradient(#ed7676,#cd6565);behavior:url(../../../css/pie.htc);}
.regmail_btn{color:#6e6e6e;border:1px solid #dddada;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;background:-moz-linear-gradient(#f7f4ed,#eee9de);background:-webkit-linear-gradient(#f7f4ed,#eee9de);background:-o-linear-gradient(#f7f4ed,#eee9de);background:-ms-linear-gradient(#f7f4ed,#eee9de);-pie-background:linear-gradient(#f7f4ed,#eee9de);-moz-text-shadow:-1px -1px 0 #fcfbf9;-webkit-text-shadow:-1px -1px 0 #fcfbf9;-o-text-shadow:-1px -1px 0 #fcfbf9;text-shadow:-1px -1px 0 #fcfbf9;behavior:url(../../../css/pie.htc);}
.regmail_btn:hover{color:#6e6e6e;background:-moz-linear-gradient(#ffffff,#f5f5f5);background:-webkit-linear-gradient(#ffffff,#f5f5f5);background:-o-linear-gradient(#ffffff,#f5f5f5);background:-ms-linear-gradient(#ffffff,#f5f5f5);-pie-background:linear-gradient(#ffffff,#f5f5f5);behavior:url(../../../css/pie.htc);}
.regmail_btn.disabled{color:#6e6e6e;border:1px solid #dddada;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;background:-moz-linear-gradient(#f7f4ed,#eee9de);background:-webkit-linear-gradient(#f7f4ed,#eee9de);background:-o-linear-gradient(#f7f4ed,#eee9de);background:-ms-linear-gradient(#f7f4ed,#eee9de);-pie-background:linear-gradient(#f7f4ed,#eee9de);-moz-text-shadow:-1px -1px 0 #fcfbf9;-webkit-text-shadow:-1px -1px 0 #fcfbf9;-o-text-shadow:-1px -1px 0 #fcfbf9;text-shadow:-1px -1px 0 #fcfbf9;behavior:url(../../../css/pie.htc);}
.chan_btn.chan_red02{color:#ffffff;border:1px solid #df5d5d;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;background:-moz-linear-gradient(#e76464,#ce5353);background:-moz-linear-gradient(#f25442,#da4030);background:-webkit-linear-gradient(#f25442,#da4030);background:-o-linear-gradient(#f25442,#da4030);background:-ms-linear-gradient(#f25442,#da4030);-pie-background:linear-gradient(#f25442,#da4030);-moz-text-shadow:-1px -1px 0 #c11d17;-webkit-text-shadow:-1px -1px 0 #c11d17;-o-text-shadow:-1px -1px 0 #c11d17;text-shadow:-1px -1px 0 #c11d17;-moz-box-shadow:0px 1px 4px #817e7b;-webkit-box-shadow:0px 1px 4px #817e7b;-o-box-shadow:0px 1px 4px #817e7b;box-shadow:0px 1px 4px #817e7b;behavior:url(../../../css/pie.htc);}
.chan_btn.chan_red02:hover{color:#ffffff;background:-webkit-linear-gradient(#e76464,#ce5353);background:-o-linear-gradient(#e76464,#ce5353);background:-ms-linear-gradient(#e76464,#ce5353);-pie-background:linear-gradient(#e76464,#ce5353);behavior:url(../../../css/pie.htc);}



/*footer*/
.footer_info{color:#888787}
.footer_list a{color:#888787}
.footer_list a:hover{color:#ed6365}

/*pop_div*/
.chan_pop_div{background:#fff;-moz-border-radius:8px 8px 8px 8px;-webkit-border-radius:8px 8px 8px 8px;-o-border-radius:8px 8px 8px 8px;border-radius:8px 8px 8px 8px;behavior:url(../../../css/pie.htc);}
.chan_pop_title{background:-moz-linear-gradient(#f0efee,#eae9e8);background:-webkit-linear-gradient(#f0efee,#eae9e8);background:-o-linear-gradient(#f0efee,#eae9e8);background:-ms-linear-gradient(#f0efee,#eae9e8);-pie-background:linear-gradient(#f0efee,#eae9e8);-moz-border-radius:8px 8px 0px 0px;-webkit-border-radius:8px 8px 0px 0px;-o-border-radius:8px 8px 0px 0px;border-radius:8px 8px 0px 0px;behavior:url(../../../css/pie.htc);}

/*down_pop_select*/
.down_pop_select{background:#fff;}
.down_pop_select a{background:#fff;color:#555;}
.down_pop_select a:hover{background:#f7f7f7;color:#555;}
.down_pop_select a.sel_check{background:#f7f7f7;color:#555;}

/*chan_login*/
.chan_login{background:#ede8e2;border:1px solid #ccc;-moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;border-radius:8px;-moz-box-shadow:0px 0px 10px #837766;-webkit-box-shadow:0px 0px 10px #837766;-o-box-shadow:0px 0px 10px #837766;box-shadow:0px 0px 10px #837766;behavior:url(../../../css/pie.htc);/*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); -moz-opacity:0.9;opacity: 0.9;*/}
.chan_login_title{color:#4c4c4c;border-bottom:1px solid #bdb9b5;-moz-text-shadow:-1px -1px 0 #fff;-webkit-text-shadow:-1px -1px 0 #fff;-o-text-shadow:-1px -1px 0 #fff;text-shadow:-1px -1px 0 #fff;behavior:url(../../../css/pie.htc);}
.chan_login_con{border-top:1px solid #fff;}
.chan_login_con .input_con_type{opacity:1;}
.chan_login .input_con_type.bordred{border:1px solid #f00;}

/*home_pro*/
.home_pro li{border-left:1px solid #f9cbc6;}
.home_pro li.h_last{border-right:1px solid #f9cbc6;}
.home_pro li a{color:#df3f3f;font-weight:normal;}
.home_pro li a:hover{color:#e94836;font-weight:bold;}

/*404*/
.error_404 .title_404{color:#6e6e6e;}
.error_404 p{color:#b0b0b0;}
.error_404_btn{color:#6e6e6e;border:1px solid #dddada;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;background:-moz-linear-gradient(#f7f4ed,#eee9de);background:-webkit-linear-gradient(#f7f4ed,#eee9de);background:-o-linear-gradient(#f7f4ed,#eee9de);background:-ms-linear-gradient(#f7f4ed,#eee9de);-pie-background:linear-gradient(#f7f4ed,#eee9de);-moz-text-shadow:-1px -1px 0 #fcfbf9;-webkit-text-shadow:-1px -1px 0 #fcfbf9;-o-text-shadow:-1px -1px 0 #fcfbf9;text-shadow:-1px -1px 0 #fcfbf9;behavior:url(../../../css/pie.htc);}
.error_404_btn:hover{color:#6e6e6e;background:-moz-linear-gradient(#ffffff,#f5f5f5);background:-webkit-linear-gradient(#ffffff,#f5f5f5);background:-o-linear-gradient(#ffffff,#f5f5f5);background:-ms-linear-gradient(#ffffff,#f5f5f5);-pie-background:linear-gradient(#ffffff,#f5f5f5);behavior:url(../../../css/pie.htc);}

/*solution*/
.chan_solution .solution_con{border-right:1px solid #efefef;}
.chan_solution .solution_con.sbordnone{border:none;}
.solution_con a.solution_title{color:#e94836;text-decoration:none;}
.solution_con a.solution_title:hover{color:#e94836;text-decoration:underline;}
.chan_static_tip .chan_tips01{background:#fff;border:1px solid #efeded;-moz-box-shadow:2px 2px 8px #ececec;-webkit-box-shadow:2px 2px 8px #ececec;-o-box-shadow:2px 2px 8px #ececec;box-shadow:2px 2px 8px #ececec;behavior:url(../../../css/pie.htc);}
.chan_static_title h2{color:#fff;}
.chan_static_table tr th{background:#c7c0c0;color:#fff;}
.chan_static_table tr td{background:#efeeee;}
.chan_static_table tr td.t_left{color:#6f77a1;font-weight:bold;}
.chan_static_des{color:#6e6e6e;}
.chan_static_des.red01{color:#ed6365;}
.static_num{background:#c2cdd2;color:#fff;-moz-border-radius:25px;-webkit-border-radius:25px;-o-border-radius:25px;border-radius:25px;behavior:url(../../../css/pie.htc);}
.menu_static_list li a{color:#555;font-weight:normal;}
.menu_static_list li a:hover{background:#e06060;color:#fff;font-weight:bold;}
.menu_static_list li a.menu_check{background:#e06060;color:#fff;}
.chan_tab_static{border-bottom:1px solid #ddd;}
.chan_tab_static li a{background:#f7f7f7;color:#6e6e6e;border:1px solid #ddd;-moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px;-o-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px;behavior:url(../../../css/pie.htc);}
.chan_tab_static li a.chantab_check{background:#fff;border-bottom:1px solid #fff;color:#e94836;}
.chan_tab_static li a:hover{background:#fff;border-bottom:1px solid #fff;color:#e94836;}