<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">
    <!-- <dubbo:application name="consumer-of-helloworld-app" />        使用multicast广播注册中心暴露发现服务地址 -->
    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:registry  protocol="zookeeper" address="10.252.87.124:2181"/>
	<!-- 多渠道'批量代付'API -->
	<dubbo:reference check="false" group="rkylincrps" version="1.0.0" id="crpsApiService" interface="com.rkylin.crps.service.CrpsApiService" />
</beans>