<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd" 
    default-autowire="byName" default-lazy-init="true">
    <bean id="securityService" class="com.rop.service.impl.SecurityServiceImpl">
    	<property name="userProperties" ref="userProperties"/>
		<property name="errorResponseService" ref="errorResponseService"/>
    </bean>
	<bean id="marshallingView" class="org.springframework.web.servlet.view.xml.MarshallingView" >
		<property name="marshaller" ref="xStreamMarshaller" />
		<property name="contentType" value="application/xml;charset=UTF-8"></property>
	</bean>

	<bean id="xStreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">  
		<property name="autodetectAnnotations" value="true"/>  
	</bean>

	<bean id="xStreamXMLDriver" class="com.thoughtworks.xstream.io.xml.DomDriver"> 
		<constructor-arg index="0"> 
			<bean class="java.lang.String"> 
				<constructor-arg index="0" value="UTF-8"/> 
			</bean>
		</constructor-arg>
		<constructor-arg index="1"> 
			<bean class="com.thoughtworks.xstream.io.xml.XmlFriendlyReplacer"> 
				<constructor-arg index="0" value="_-"/> 
				<constructor-arg index="1" value="_"/> 
			</bean>
		</constructor-arg> 
	</bean>
	
	<bean id="xStreamJSONDriver" class="com.thoughtworks.xstream.io.json.JsonHierarchicalStreamDriver" />
	
	<bean id="xStreamDateConverter" class="com.rop.utils.xStreamConverter.XStreamDateConverter"> 
		<constructor-arg value="yyyy-MM-dd HH:mm:ss"/> 
	</bean>
	
	<bean id="xStreamDoubleConverter" class="com.rop.utils.xStreamConverter.XStreamDoubleConverter"/> 
	
	<bean id="xStreamStringConverter" class="com.rop.utils.xStreamConverter.XStreamStringConverter"/>

	<!-- streamMarshaller end -->

	<!-- security end -->

	<!-- errorResponseService start -->
	<bean id="errorResponseService" class="com.rop.service.impl.ErrorResponseServiceImpl">
		<property name="errorCodeProperties" ref="errorCodeProperties"/>
	</bean>
	<!--  base bean -->
	<!-- end base bean -->
</beans>